<>       
       h2,h4{
          background-color: aquamarine;
       }

      h4{
         color:rgb(167, 108, 54);
      }
       #unico{
           color: brown;
       }

       span{
           font-size: 1cm;
           color: tomato;
       }

       