img{
    border-radius:20% ;
}

table{
    border: 2px solid olive;
    width: 800px;
    margin: auto;
}
tr{
    border-bottom: 2px solid gray;
}
td{
    padding: 5px;
}
th{
    background-color: aquamarine;
}