        h2 {
            color: rgb(15, 46, 221);
        }

        #unico {
            color: salmon;
        }

        span{
            font-size: 1cm;
            color: seagreen;
        }